.foodTime{
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    
    padding-bottom: 10px;
}

.foodTime:hover{
    color: rgb(226, 45, 75);
    text-decoration: underline;
    text-decoration-color:rgb(226, 45, 75) ;
}
