.signup-bg{
    background-image: url('../../images/bannerbackground.png');
    height: 500px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
}

.signup-input-design{
    border: 1px solid white;
    padding: 10px;
    padding-right: 60px;
    margin:5px;

}

.signup-logo{
    margin: 40px;
    height: 10%;
    width: 14%;
}

.singup-button{
    background-color: rgb(226, 45, 75);
    border: 1px solid pink;
    border: 1px solid white;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    
    color: white;
    margin: 20px;
}

#takeToLogin{
    text-decoration: none;
    color:rgb(226, 45, 75);
}